
doctype html
html(lang="vi")
    head
        title arduino
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- css
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="stylesheet/style.css" type="text/css")
        //- script
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" type="text/javascript")
    body
        .container
            #lastData.row
                .col-sm-12.col-md-3
                    .card.bg-primary.text-white.m-2.row
                        .title.col-6 Primary card
                        #DHT22_temp.card-body.col-6 16c
                .col-sm-12.col-md-3
                    .card.bg-info.text-white.m-2
                        #DHT22_humi.card-body Primary card
                .col-sm-12.col-md-3
                    .card.bg-warning.text-white.m-2
                        #GY68-temp.card-body Primary card
                .col-sm-12.col-md-3
                    .card.bg-danger.text-white.m-2
                        #GY68-atm.card-body Primary card
            .row
                #chart.col-12
                    canvas#chartData
        script(src="/script.js" type="text/javascript")




