body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.menu-nav-active{
  background-color: lightgrey !important;
}
.btn-path{
  font-size: 20px;
}

#lastData{
  margin-bottom: 30px;
}

#lastData i{
  color: white;
  font-size: 30px;
}

input[type='checkbox'] {
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
  margin: 0px 0px 0px 5px;
}
input[type='checkbox']:checked {
  background: #abd;
}